.title-slide hgroup h1 {
  font-size: 50px;
  letter-spacing: -10;
  line-height: 0.95;
}

.gdbar img {
  width: 200px !important;
  height: 150px !important;
}

.gdbar {
  width: 300px !important;
  height: 165px !important;
}

slides > slide:not(.nobackground):before {
  width: 80px;
  height: 60px;
  background-size: 80px 60px;
}
